# load data

## load packages

In [ ]:
import pandas as pd
import os
import numpy as np

## person

In [ ]:
# This query represents dataset "CKD YK Updated Phenotyping" for domain "person" and was generated for All of Us Controlled Tier Dataset v8
dataset_74311008_person_sql = """
    SELECT
        person.person_id,
        person.birth_datetime as date_of_birth,
        p_sex_at_birth_concept.concept_name as sex_at_birth 
    FROM
        `""" + os.environ["WORKSPACE_CDR"] + """.person` person 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_sex_at_birth_concept 
            ON person.sex_at_birth_concept_id = p_sex_at_birth_concept.concept_id  
    WHERE
        person.PERSON_ID IN (SELECT
            distinct person_id  
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
        WHERE
            cb_search_person.person_id IN (SELECT
                person_id 
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
            WHERE
                has_whole_genome_variant = 1 )  
        UNION
        DISTINCT SELECT
            distinct person_id  
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
        WHERE
            cb_search_person.person_id IN (SELECT
                person_id 
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
            WHERE
                has_whole_genome_variant = 1 ) 
            AND cb_search_person.person_id IN (SELECT
                criteria.person_id 
            FROM
                (SELECT
                    DISTINCT person_id, entry_date, concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                WHERE
                    (concept_id IN(SELECT
                        DISTINCT c.concept_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                    JOIN
                        (SELECT
                            CAST(cr.id as string) AS id       
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                        WHERE
                            concept_id IN (44836035, 1571475, 35209268, 1567975, 35209246, 1571474, 1571478, 1571472, 44837188, 35209245, 1572115, 1571473, 35209280, 1571476, 1572108, 1569122, 1567942, 1571483, 44829061, 35209251, 1571470, 1567958, 1571469, 1571486, 35207672, 35209295, 1571484, 44830175, 44833661, 1571471, 1572107, 1571477, 44825540)       
                            AND full_text LIKE '%_rank1]%'      ) a 
                            ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                            OR c.path LIKE CONCAT('%.', a.id) 
                            OR c.path LIKE CONCAT(a.id, '.%') 
                            OR c.path = a.id) 
                    WHERE
                        is_standard = 0 
                        AND is_selectable = 1) 
                    AND is_standard = 0 )) criteria 
            UNION
            DISTINCT SELECT
                criteria.person_id 
            FROM
                (SELECT
                    DISTINCT person_id, entry_date, concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                WHERE
                    (concept_id IN(SELECT
                        DISTINCT c.concept_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                    JOIN
                        (SELECT
                            CAST(cr.id as string) AS id       
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                        WHERE
                            concept_id IN (1576113, 1575308, 44821578, 44835472, 35207088, 1575218, 35209278, 35225436, 35211013)       
                            AND full_text LIKE '%_rank1]%'      ) a 
                            ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                            OR c.path LIKE CONCAT('%.', a.id) 
                            OR c.path LIKE CONCAT(a.id, '.%') 
                            OR c.path = a.id) 
                    WHERE
                        is_standard = 0 
                        AND is_selectable = 1) 
                    AND is_standard = 0 )) criteria 
            UNION
            DISTINCT SELECT
                criteria.person_id 
            FROM
                (SELECT
                    DISTINCT person_id, entry_date, concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                WHERE
                    (concept_id IN(SELECT
                        DISTINCT c.concept_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                    JOIN
                        (SELECT
                            CAST(cr.id as string) AS id       
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                        WHERE
                            concept_id IN (44833659, 44826731, 1571485)       
                            AND full_text LIKE '%_rank1]%'      ) a 
                            ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                            OR c.path LIKE CONCAT('%.', a.id) 
                            OR c.path LIKE CONCAT(a.id, '.%') 
                            OR c.path = a.id) 
                    WHERE
                        is_standard = 0 
                        AND is_selectable = 1) 
                    AND is_standard = 0 )) criteria 
            UNION
            DISTINCT SELECT
                criteria.person_id 
            FROM
                (SELECT
                    DISTINCT person_id, entry_date, concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                WHERE
                    (concept_id IN (2108298, 2108278, 2109464, 2108294, 2108297, 2213573, 2109572, 2213589, 2213594, 2108280, 2108292, 2108279, 2213576, 2109569, 2109573, 2109461, 2109570, 2108295, 40756844, 2213595, 2108281, 2213596, 2109463, 42737052, 2213597, 2213575, 2213600, 42739143, 2213582, 2108304, 2108293, 2108276, 2213588, 2109571, 2213593, 2108302, 2109574, 2213577, 2213599, 2213578, 2213572, 2213587, 2213601, 2108277, 2108303, 2213598, 2108296, 2108299) 
                    AND is_standard = 0 )) criteria ) 
            AND cb_search_person.person_id NOT IN (SELECT
                criteria.person_id 
            FROM
                (SELECT
                    DISTINCT person_id, entry_date, concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                WHERE
                    (concept_id IN (35224814, 44821546, 35225404) 
                    AND is_standard = 0 )) criteria ) )"""

person = pd.read_gbq(
    dataset_74311008_person_sql,
    dialect = "standard",
    use_bqstorage_api = ("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type = "tqdm_notebook")

print(person.shape)
person.head()

## measurement

In [ ]:
# This query represents dataset "CKD YK Updated Phenotyping" for domain "measurement" and was generated for All of Us Controlled Tier Dataset v8
dataset_88123821_measurement_sql = """
    SELECT
        measurement.person_id,
        m_standard_concept.concept_name as standard_concept_name,
        m_standard_concept.vocabulary_id as standard_vocabulary,
        measurement.measurement_datetime,
        measurement.value_as_number,
        m_unit.concept_name as unit_concept_name,
        measurement.unit_source_value 
    FROM
        ( SELECT
            * 
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.measurement` measurement 
        WHERE
            (
                measurement_concept_id IN (SELECT
                    DISTINCT c.concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                JOIN
                    (SELECT
                        CAST(cr.id as string) AS id       
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                    WHERE
                        concept_id IN (1176069, 1619025, 1619026, 21490674, 21490851, 21490853, 21492239, 21492240, 21494261, 21494263, 3000034, 3000819, 3000837, 3000911, 3001349, 3001582, 3001802, 3001810, 3002000, 3002590, 3002785, 3002812, 3002827, 3003772, 3004117, 3004173, 3004195, 3004239, 3004249, 3004764, 3005031, 3005071, 3005577, 3005606, 3005770, 3007081, 3007295, 3007393, 3007424, 3007798, 3007862, 3008392, 3008512, 3008612, 3008846, 3008960, 3009224, 3009395, 3009435, 3009456, 3009514, 3010279, 3010391, 3010673, 3010926, 3011544, 3012516, 3012888, 3013186, 3013247, 3013668, 3013742, 3013940, 3014072, 3014145, 3014444, 3015397, 3016231, 3016589, 3016662, 3016723, 3017188, 3017250, 3017439, 3017925, 3018097, 3018104, 3018311, 3018586, 3018592, 3018822, 3019575, 3019797, 3019962, 3019999, 3020059, 3020222, 3020275, 3020509, 3020564, 3020682, 3021194, 3021492, 3022482, 3022826, 3023556, 3024268, 3024474, 3024561, 3025313, 3025380, 3025656, 3025987, 3026692, 3027035, 3027597,
 3028286, 3028737, 3029829, 3029859, 3029937, 3030104, 3030366, 3030511, 3032710, 3033837, 3033962, 3034485, 3034703, 3034826, 3035472, 3035521, 3035529, 3035856, 3035982, 3036634, 3037052, 3037539, 3037791, 3037883, 3038276, 3038609, 3039436, 3039775, 3040290, 3041198, 3042122, 3043209, 3043798, 3043954, 3044974, 3045262, 3045322, 3045462, 3046055, 3046485, 3046948, 3047023, 3047107, 3048516, 3049187, 3049202, 3049506, 3050449, 3051825, 3053001, 3053283, 35918840, 35976969, 36303797, 36304016, 36304157, 36304326, 36304864, 36305059, 36306043, 36306178, 36660257, 37026756, 37028490, 37028633, 37029308, 37029387, 37031175, 37031498, 37033544, 37036139, 37036806, 37037336, 37043215, 37045253, 37048896, 37051495, 37053972, 37054145, 37056546, 37056881, 37058220, 37058684, 37058931, 37062967, 37064108, 37064590, 37069099, 37070097, 37072845, 37073796, 37074028, 37074175, 37074896, 37078633, 37205200, 4013964, 4017497, 4017498, 4027681, 40479187, 4055661, 4068414, 40757478, 40758413,
 40760483, 40761549, 40762252, 40763912, 40763913, 40764999, 40765543, 40766275, 40767663, 40768057, 40771471, 40771922, 40775801, 40789192, 40791227, 40795765, 40796112, 4097664, 4108431, 4112223, 4136584, 4150342, 4150621, 4152194, 4152686, 4152996, 4154347, 4154790, 4155367, 4190896, 4193718, 4197856, 4230629, 4232915, 4236281, 4248524, 4248525, 4248803, 42528717, 4268883, 42869913, 4288601, 4292062, 43055430, 43055431, 43055432, 4324383, 4353607, 4354252, 44789161, 44789315, 44789316, 46235170, 46235434, 46236875, 46236952, 46236953)       
                        AND full_text LIKE '%_rank1]%'      ) a 
                        ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                        OR c.path LIKE CONCAT('%.', a.id) 
                        OR c.path LIKE CONCAT(a.id, '.%') 
                        OR c.path = a.id) 
                WHERE
                    is_standard = 1 
                    AND is_selectable = 1)
            )  
            AND (
                measurement.PERSON_ID IN (SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 )  
                UNION
                DISTINCT SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 ) 
                    AND cb_search_person.person_id IN (SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (44836035, 1571475, 35209268, 1567975, 35209246, 1571474, 1571478, 1571472, 44837188, 35209245, 1572115, 1571473, 35209280, 1571476, 1572108, 1569122, 1567942, 1571483, 44829061, 35209251, 1571470, 1567958, 1571469, 1571486, 35207672, 35209295, 1571484, 44830175, 44833661, 1571471, 1572107, 1571477, 44825540)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (1576113, 1575308, 44821578, 44835472, 35207088, 1575218, 35209278, 35225436, 35211013)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (44833659, 44826731, 1571485)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (2108298, 2108278, 2109464, 2108294, 2108297, 2213573, 2109572, 2213589, 2213594, 2108280, 2108292, 2108279, 2213576, 2109569, 2109573, 2109461, 2109570, 2108295, 40756844, 2213595, 2108281, 2213596, 2109463, 42737052, 2213597, 2213575, 2213600, 42739143, 2213582, 2108304, 2108293, 2108276, 2213588, 2109571, 2213593, 2108302, 2109574, 2213577, 2213599, 2213578, 2213572, 2213587, 2213601, 2108277, 2108303, 2213598, 2108296, 2108299) 
                            AND is_standard = 0 )) criteria ) 
                    AND cb_search_person.person_id NOT IN (SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (35224814, 44821546, 35225404) 
                            AND is_standard = 0 )) criteria ) )
                )
            ) measurement 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` m_standard_concept 
                ON measurement.measurement_concept_id = m_standard_concept.concept_id 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` m_unit 
                ON measurement.unit_concept_id = m_unit.concept_id"""

measurement = pd.read_gbq(
    dataset_88123821_measurement_sql,
    dialect = "standard",
    use_bqstorage_api = ("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type = "tqdm_notebook")
print(measurement.shape)
measurement.head(5)

## observation

In [ ]:
# This query represents dataset "CKD YK Updated Phenotyping" for domain "observation" and was generated for All of Us Controlled Tier Dataset v8
dataset_74311008_observation_sql = """
    SELECT
        observation.person_id,
        observation.observation_datetime,
        observation.observation_source_value,
        o_source_concept.concept_name as source_concept_name,
        o_source_concept.vocabulary_id as source_vocabulary 
    FROM
        ( SELECT
            * 
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.observation` observation 
        WHERE
            (
                observation_source_concept_id IN (2213582, 2213587, 2213588, 2213589, 2213593, 2213594, 2213595, 2213597, 2213598, 2213599, 35225436, 44831947, 44834280, 44835472, 45556841, 45566436, 45585835, 45609945)
            )  
            AND (
                observation.PERSON_ID IN (SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 )  
                UNION
                DISTINCT SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 ) 
                    AND cb_search_person.person_id IN (SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (44836035, 1571475, 35209268, 1567975, 35209246, 1571474, 1571478, 1571472, 44837188, 35209245, 1572115, 1571473, 35209280, 1571476, 1572108, 1569122, 1567942, 1571483, 44829061, 35209251, 1571470, 1567958, 1571469, 1571486, 35207672, 35209295, 1571484, 44830175, 44833661, 1571471, 1572107, 1571477, 44825540)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (1576113, 1575308, 44821578, 44835472, 35207088, 1575218, 35209278, 35225436, 35211013)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (44833659, 44826731, 1571485)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (2108298, 2108278, 2109464, 2108294, 2108297, 2213573, 2109572, 2213589, 2213594, 2108280, 2108292, 2108279, 2213576, 2109569, 2109573, 2109461, 2109570, 2108295, 40756844, 2213595, 2108281, 2213596, 2109463, 42737052, 2213597, 2213575, 2213600, 42739143, 2213582, 2108304, 2108293, 2108276, 2213588, 2109571, 2213593, 2108302, 2109574, 2213577, 2213599, 2213578, 2213572, 2213587, 2213601, 2108277, 2108303, 2213598, 2108296, 2108299) 
                            AND is_standard = 0 )) criteria ) 
                    AND cb_search_person.person_id NOT IN (SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (35224814, 44821546, 35225404) 
                            AND is_standard = 0 )) criteria ) )
                )
            ) observation 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` o_source_concept 
                ON observation.observation_source_concept_id = o_source_concept.concept_id"""

observation = pd.read_gbq(
    dataset_74311008_observation_sql,
    dialect = "standard",
    use_bqstorage_api = ("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type = "tqdm_notebook")
print(observation.shape)
observation.head()

## procedure

In [ ]:
# This query represents dataset "CKD YK Updated Phenotyping" for domain "procedure" and was generated for All of Us Controlled Tier Dataset v8
dataset_74311008_procedure_sql = """
    SELECT
        procedure.person_id,
        procedure.procedure_datetime,
        procedure.procedure_source_value,
        p_source_concept.concept_name as source_concept_name,
        p_source_concept.vocabulary_id as source_vocabulary 
    FROM
        ( SELECT
            * 
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.procedure_occurrence` procedure 
        WHERE
            (
                procedure_source_concept_id IN (SELECT
                    DISTINCT c.concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                JOIN
                    (SELECT
                        CAST(cr.id as string) AS id       
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                    WHERE
                        concept_id IN (2108276, 2108277, 2108278, 2108279, 2108280, 2108281, 2108292, 2108293, 2108294, 2108295, 2108296, 2108297, 2108298, 2108299, 2108302, 2108303, 2108304, 2109461, 2109463, 2109464, 2109569, 2109570, 2109571, 2109572, 2109573, 2109574, 2213572, 2213573, 2213575, 2213576, 2213577, 2213578, 2213587, 2213589, 2213596, 2213597, 2213600, 2213601, 40756844, 42737052, 42739143, 44821578)       
                        AND full_text LIKE '%_rank1]%'      ) a 
                        ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                        OR c.path LIKE CONCAT('%.', a.id) 
                        OR c.path LIKE CONCAT(a.id, '.%') 
                        OR c.path = a.id) 
                WHERE
                    is_standard = 0 
                    AND is_selectable = 1)
            )  
            AND (
                procedure.PERSON_ID IN (SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 )  
                UNION
                DISTINCT SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 ) 
                    AND cb_search_person.person_id IN (SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (44836035, 1571475, 35209268, 1567975, 35209246, 1571474, 1571478, 1571472, 44837188, 35209245, 1572115, 1571473, 35209280, 1571476, 1572108, 1569122, 1567942, 1571483, 44829061, 35209251, 1571470, 1567958, 1571469, 1571486, 35207672, 35209295, 1571484, 44830175, 44833661, 1571471, 1572107, 1571477, 44825540)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (1576113, 1575308, 44821578, 44835472, 35207088, 1575218, 35209278, 35225436, 35211013)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (44833659, 44826731, 1571485)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (2108298, 2108278, 2109464, 2108294, 2108297, 2213573, 2109572, 2213589, 2213594, 2108280, 2108292, 2108279, 2213576, 2109569, 2109573, 2109461, 2109570, 2108295, 40756844, 2213595, 2108281, 2213596, 2109463, 42737052, 2213597, 2213575, 2213600, 42739143, 2213582, 2108304, 2108293, 2108276, 2213588, 2109571, 2213593, 2108302, 2109574, 2213577, 2213599, 2213578, 2213572, 2213587, 2213601, 2108277, 2108303, 2213598, 2108296, 2108299) 
                            AND is_standard = 0 )) criteria ) 
                    AND cb_search_person.person_id NOT IN (SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (35224814, 44821546, 35225404) 
                            AND is_standard = 0 )) criteria ) )
                )
            ) procedure 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_source_concept 
                ON procedure.procedure_source_concept_id = p_source_concept.concept_id"""

procedure = pd.read_gbq(
    dataset_74311008_procedure_sql,
    dialect = "standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")
print(procedure.shape)
procedure.head()

## condition

In [ ]:
# This query represents dataset "CKD YK Updated Phenotyping" for domain "condition" and was generated for All of Us Controlled Tier Dataset v8
dataset_88123821_condition_sql = """
    SELECT
        c_occurrence.person_id,
        c_occurrence.condition_start_datetime,
        c_occurrence.condition_source_value,
        c_source_concept.concept_name as source_concept_name,
        c_source_concept.vocabulary_id as source_vocabulary 
    FROM
        ( SELECT
            * 
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.condition_occurrence` c_occurrence 
        WHERE
            (
                condition_source_concept_id IN (SELECT
                    DISTINCT c.concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                JOIN
                    (SELECT
                        CAST(cr.id as string) AS id       
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                    WHERE
                        concept_id IN (1326492, 1326493, 1567956, 1567958, 1567959, 1567960, 1567964, 1567965, 1567966, 1567969, 1567971, 1567975, 1569124, 1571469, 1571473, 1571478, 1571485, 1571486, 1571647, 1571652, 1571659, 1571687, 1572108, 1575308, 19438, 19439, 35206881, 35206882, 35207088, 35207668, 35207669, 35207670, 35207671, 35207672, 35207673, 35207674, 35207675, 35207676, 35207677, 35207678, 35207679, 35207832, 35209165, 35209166, 35209167, 35209170, 35209172, 35209173, 35209174, 35209175, 35209176, 35209177, 35209178, 35209182, 35209183, 35209184, 35209185, 35209186, 35209187, 35209188, 35209189, 35209190, 35209192, 35209193, 35209194, 35209195, 35209196, 35209197, 35209198, 35209199, 35209200, 35209201, 35209202, 35209203, 35209204, 35209205, 35209206, 35209207, 35209208, 35209210, 35209211, 35209212, 35209213, 35209214, 35209215, 35209216, 35209217, 35209218, 35209219, 35209220, 35209221, 35209222, 35209223, 35209224, 35209225, 35209226, 35209227, 35209228, 35209229,
 35209230, 35209231, 35209233, 35209234, 35209235, 35209236, 35209237, 35209240, 35209243, 35209244, 35209245, 35209246, 35209247, 35209248, 35209249, 35209250, 35209251, 35209252, 35209253, 35209254, 35209255, 35209256, 35209257, 35209258, 35209259, 35209260, 35209261, 35209262, 35209263, 35209264, 35209265, 35209266, 35209267, 35209268, 35209269, 35209270, 35209271, 35209272, 35209273, 35209274, 35209275, 35209276, 35209277, 35209278, 35209279, 35209280, 35209295, 35210518, 35211012, 35211013, 35211014, 35211015, 35211016, 35211017, 35211018, 35211019, 35211020, 35211021, 35211022, 35211023, 35211024, 35211031, 35211032, 35211033, 35211034, 35211035, 35211036, 37200198, 37200199, 37200200, 37200201, 37200202, 37200203, 37200204, 37200205, 37200206, 37200207, 37200208, 37200209, 37200210, 37200211, 37200212, 37200213, 37200214, 37200215, 37200216, 37200217, 37200218, 37200219, 37200220, 37200221, 37200222, 37200223, 37200224, 37200225, 37200227, 37200228, 37200229, 37200230, 37200232,
 37200233, 37200234, 37200235, 37200237, 37200238, 37200239, 37200240, 37200242, 37200243, 37200244, 37200245, 37200246, 37200247, 37200248, 37200249, 37200251, 37200252, 37200253, 37200254, 37200492, 37200493, 37200494, 37200495, 37200876, 37200958, 37200966, 37200976, 37402576, 37402577, 44819500, 44819501, 44819502, 44819503, 44819504, 44819692, 44819693, 44819694, 44819695, 44819696, 44819849, 44819850, 44820682, 44820683, 44820684, 44820685, 44820856, 44821787, 44821949, 44821950, 44822084, 44822934, 44822935, 44822936, 44823109, 44823110, 44823231, 44824071, 44824072, 44824073, 44824074, 44824235, 44824236, 44824341, 44824389, 44824390, 44824391, 44824394, 44825264, 44825426, 44825427, 44825540, 44825591, 44825592, 44826459, 44826460, 44826461, 44826634, 44826730, 44826731, 44826776, 44827615, 44827616, 44827617, 44827778, 44827779, 44827781, 44827931, 44828793, 44828794, 44828795, 44828970, 44828971, 44829060, 44829878, 44829879, 44829880, 44829881, 44829882, 44830076, 44830077,
 44830078, 44830175, 44830210, 44830211, 44831045, 44831046, 44831047, 44831229, 44831230, 44831231, 44831232, 44831234, 44831376, 44832190, 44832191, 44832192, 44832193, 44832194, 44832366, 44832368, 44832369, 44832370, 44832371, 44832524, 44833365, 44833366, 44833367, 44833368, 44833556, 44833557, 44833559, 44833560, 44833657, 44833659, 44833661, 44833714, 44834548, 44834549, 44834715, 44834716, 44834717, 44835922, 44835923, 44835924, 44835925, 44835953, 44836035, 44836075, 44836914, 44836915, 44836916, 44836917, 44836918, 44837098, 44837188, 44837233, 44837235, 45533019, 45533020, 45533021, 45533022, 45533023, 45534171, 45534174, 45537090, 45537961, 45537962, 45539032, 45539085, 45539086, 45539087, 45539089, 45541827, 45542738, 45542741, 45543164, 45543913, 45546763, 45547621, 45547625, 45547626, 45547627, 45548648, 45548653, 45548697, 45548699, 45548703, 45548704, 45548707, 45551496, 45552379, 45552385, 45552386, 45552388, 45553434, 45553435, 45553475, 45553686, 45556252, 45557112,
 45557113, 45558136, 45558200, 45558201, 45558203, 45561949, 45561955, 45563006, 45563047, 45563048, 45563051, 45563052, 45563255, 45566731, 45567886, 45567887, 45567896, 45572699, 45572700, 45572765, 45575569, 45575625, 45576443, 45577557, 45577558, 45577559, 45577738, 45581352, 45581353, 45581354, 45581355, 45582390, 45582442, 45582445, 45582446, 45582457, 45582458, 45585250, 45586139, 45586140, 45587280, 45587281, 45587292, 45587467, 45591027, 45591029, 45591030, 45591031, 45592183, 45592185, 45592191, 45594907, 45594908, 45594909, 45595797, 45595798, 45595799, 45596188, 45596915, 45596916, 45596917, 45596923, 45599765, 45599829, 45600637, 45600641, 45600642, 45601721, 45601778, 45605401, 45605402, 45605403, 45605404, 45605405, 45606537, 45606547, 45606750, 45609335, 45609393, 725432, 725435, 725437, 725440, 725441, 725442)       
                        AND full_text LIKE '%_rank1]%'      ) a 
                        ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                        OR c.path LIKE CONCAT('%.', a.id) 
                        OR c.path LIKE CONCAT(a.id, '.%') 
                        OR c.path = a.id) 
                WHERE
                    is_standard = 0 
                    AND is_selectable = 1)
            )  
            AND (
                c_occurrence.PERSON_ID IN (SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 )  
                UNION
                DISTINCT SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 ) 
                    AND cb_search_person.person_id IN (SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (44836035, 1571475, 35209268, 1567975, 35209246, 1571474, 1571478, 1571472, 44837188, 35209245, 1572115, 1571473, 35209280, 1571476, 1572108, 1569122, 1567942, 1571483, 44829061, 35209251, 1571470, 1567958, 1571469, 1571486, 35207672, 35209295, 1571484, 44830175, 44833661, 1571471, 1572107, 1571477, 44825540)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (1576113, 1575308, 44821578, 44835472, 35207088, 1575218, 35209278, 35225436, 35211013)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (44833659, 44826731, 1571485)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (2108298, 2108278, 2109464, 2108294, 2108297, 2213573, 2109572, 2213589, 2213594, 2108280, 2108292, 2108279, 2213576, 2109569, 2109573, 2109461, 2109570, 2108295, 40756844, 2213595, 2108281, 2213596, 2109463, 42737052, 2213597, 2213575, 2213600, 42739143, 2213582, 2108304, 2108293, 2108276, 2213588, 2109571, 2213593, 2108302, 2109574, 2213577, 2213599, 2213578, 2213572, 2213587, 2213601, 2108277, 2108303, 2213598, 2108296, 2108299) 
                            AND is_standard = 0 )) criteria ) 
                    AND cb_search_person.person_id NOT IN (SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (35224814, 44821546, 35225404) 
                            AND is_standard = 0 )) criteria ) )
                )
            ) c_occurrence 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` c_source_concept 
                ON c_occurrence.condition_source_concept_id = c_source_concept.concept_id"""

condition = pd.read_gbq(
    dataset_88123821_condition_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")
print(condition.shape)
condition.head(5)

## medication

In [ ]:
# This query represents dataset "CKD YK Updated Phenotyping" for domain "drug" and was generated for All of Us Controlled Tier Dataset v8
dataset_07248638_drug_sql = """
    SELECT
        d_exposure.person_id,
        d_standard_concept.concept_name as standard_concept_name,
        d_exposure.drug_exposure_start_datetime,
        d_exposure.drug_source_value,
        d_source_concept.concept_name as source_concept_name,
        d_source_concept.vocabulary_id as source_vocabulary 
    FROM
        ( SELECT
            * 
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.drug_exposure` d_exposure 
        WHERE
            (
                drug_concept_id IN (SELECT
                    DISTINCT ca.descendant_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria_ancestor` ca 
                JOIN
                    (SELECT
                        DISTINCT c.concept_id       
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c       
                    JOIN
                        (SELECT
                            CAST(cr.id as string) AS id             
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr             
                        WHERE
                            concept_id IN (1123698, 21600315, 21600337, 21600451, 21600452, 21600464, 21600466, 21600470, 21600472, 21600474, 21601461, 21601462, 21601489, 21601516, 21601541, 21601542, 21601553, 21601556, 21601560, 21601561, 21601587, 21601664, 21601665, 21601666, 21601682, 21601698, 21601701, 21601702, 21601709, 21601716, 21601718, 21601719, 21601724, 21601728, 21601730, 21601731, 21601733, 21601738, 21601741, 21601744, 21601745, 21601765, 21601779, 21601780, 21601783, 21601784, 21601801, 21601802, 21601815, 21601822, 21601823, 21601832, 21601833, 21601841, 21601845, 21603698, 43534771, 963889)             
                            AND full_text LIKE '%_rank1]%'       ) a 
                            ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                            OR c.path LIKE CONCAT('%.', a.id) 
                            OR c.path LIKE CONCAT(a.id, '.%') 
                            OR c.path = a.id) 
                    WHERE
                        is_standard = 1 
                        AND is_selectable = 1) b 
                        ON (ca.ancestor_id = b.concept_id)))  
                    AND (d_exposure.PERSON_ID IN (SELECT
                        distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 )  
                UNION
                DISTINCT SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 ) 
                    AND cb_search_person.person_id IN (SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (44836035, 1571475, 35209268, 1567975, 35209246, 1571474, 1571478, 1571472, 44837188, 35209245, 1572115, 1571473, 35209280, 1571476, 1572108, 1569122, 1567942, 1571483, 44829061, 35209251, 1571470, 1567958, 1571469, 1571486, 35207672, 35209295, 1571484, 44830175, 44833661, 1571471, 1572107, 1571477, 44825540)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (1576113, 1575308, 44821578, 44835472, 35207088, 1575218, 35209278, 35225436, 35211013)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (44833659, 44826731, 1571485)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 0 
                                AND is_selectable = 1) 
                            AND is_standard = 0 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (2108298, 2108278, 2109464, 2108294, 2108297, 2213573, 2109572, 2213589, 2213594, 2108280, 2108292, 2108279, 2213576, 2109569, 2109573, 2109461, 2109570, 2108295, 40756844, 2213595, 2108281, 2213596, 2109463, 42737052, 2213597, 2213575, 2213600, 42739143, 2213582, 2108304, 2108293, 2108276, 2213588, 2109571, 2213593, 2108302, 2109574, 2213577, 2213599, 2213578, 2213572, 2213587, 2213601, 2108277, 2108303, 2213598, 2108296, 2108299) 
                            AND is_standard = 0 )) criteria ) 
                    AND cb_search_person.person_id NOT IN (SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (35224814, 44821546, 35225404) 
                            AND is_standard = 0 )) criteria ) )
                )
            ) d_exposure 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` d_standard_concept 
                ON d_exposure.drug_concept_id = d_standard_concept.concept_id 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` d_source_concept 
                ON d_exposure.drug_source_concept_id = d_source_concept.concept_id"""

drug = pd.read_gbq(
    dataset_07248638_drug_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

drug.head(5)

## condition exclude

In [ ]:

# This query represents dataset "CKD_YK_Exclude" for domain "condition" and was generated for All of Us Controlled Tier Dataset v8
dataset_67956138_condition_sql = """
    SELECT
        c_occurrence.person_id,
        c_occurrence.condition_start_datetime,
        c_occurrence.condition_source_value,
        c_source_concept.concept_name as source_concept_name,
        c_source_concept.vocabulary_id as source_vocabulary 
    FROM
        ( SELECT
            * 
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.condition_occurrence` c_occurrence 
        WHERE
            (
                condition_source_concept_id IN (SELECT
                    DISTINCT c.concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                JOIN
                    (SELECT
                        CAST(cr.id as string) AS id       
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                    WHERE
                        concept_id IN (35224814, 35225404, 44821546)       
                        AND full_text LIKE '%_rank1]%'      ) a 
                        ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                        OR c.path LIKE CONCAT('%.', a.id) 
                        OR c.path LIKE CONCAT(a.id, '.%') 
                        OR c.path = a.id) 
                WHERE
                    is_standard = 0 
                    AND is_selectable = 1)
            )  
            AND (
                c_occurrence.PERSON_ID IN (SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 ) )
            )) c_occurrence 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` c_source_concept 
            ON c_occurrence.condition_source_concept_id = c_source_concept.concept_id"""

condition_exclude = pd.read_gbq(
    dataset_67956138_condition_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

print(condition_exclude.shape)
condition_exclude.head()

## observation exclude

In [ ]:
# This query represents dataset "CKD_YK_Exclude" for domain "observation" and was generated for All of Us Controlled Tier Dataset v8
dataset_67956138_observation_sql = """
    SELECT
        observation.person_id,
        observation.observation_datetime,
        observation.observation_source_value,
        o_source_concept.concept_name as source_concept_name,
        o_source_concept.vocabulary_id as source_vocabulary 
    FROM
        ( SELECT
            * 
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.observation` observation 
        WHERE
            (
                observation_source_concept_id IN (44821546)
            )  
            AND (
                observation.PERSON_ID IN (SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 ) )
            )) observation 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` o_source_concept 
            ON observation.observation_source_concept_id = o_source_concept.concept_id"""

observation_exclude = pd.read_gbq(
    dataset_67956138_observation_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

print(observation_exclude.shape)
observation_exclude.head()

## procedure exclude

In [ ]:
# This query represents dataset "CKD_YK_Exclude" for domain "procedure" and was generated for All of Us Controlled Tier Dataset v8
dataset_67956138_procedure_sql = """
    SELECT
        procedure.person_id,
        procedure.procedure_datetime,
        procedure.procedure_source_value,
        p_source_concept.concept_name as source_concept_name,
        p_source_concept.vocabulary_id as source_vocabulary 
    FROM
        ( SELECT
            * 
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.procedure_occurrence` procedure 
        WHERE
            (
                procedure_source_concept_id IN (SELECT
                    DISTINCT c.concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                JOIN
                    (SELECT
                        CAST(cr.id as string) AS id       
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                    WHERE
                        concept_id IN (2109578, 2109579, 2109580, 2109581, 2109582, 2109583, 2109584, 2109585, 2109586, 2109587, 2109588, 2109589)       
                        AND full_text LIKE '%_rank1]%'      ) a 
                        ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                        OR c.path LIKE CONCAT('%.', a.id) 
                        OR c.path LIKE CONCAT(a.id, '.%') 
                        OR c.path = a.id) 
                WHERE
                    is_standard = 0 
                    AND is_selectable = 1)
            )  
            AND (
                procedure.PERSON_ID IN (SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_whole_genome_variant = 1 ) )
            )) procedure 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_source_concept 
            ON procedure.procedure_source_concept_id = p_source_concept.concept_id"""

procedure_exclude = pd.read_gbq(
    dataset_67956138_procedure_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

print(procedure_exclude.shape)
procedure_exclude.head()

# load packages

In [ ]:
import pandas as pd

In [ ]:
from datetime import datetime

In [ ]:
from zoneinfo import ZoneInfo

In [ ]:
import numpy as np

# clean demo df

## clean sex column

In [ ]:
person_sex = person[person['sex_at_birth'].isin(['Male', 'Female'])]
person_sex['sex_at_birth'].unique()

In [ ]:
person_sex['sex_at_birth'] = person_sex['sex_at_birth'].str.replace('Female', '2')
person_sex['sex_at_birth'] = person_sex['sex_at_birth'].str.replace('Male', '1')
person_sex['sex_at_birth'].unique()

In [ ]:
person_sex.rename(columns = {'sex_at_birth' : 'SEX'}, inplace = True)

In [ ]:
person_sex['SEX'] = person_sex['SEX'].astype('Int64')

## clean DOB column

In [ ]:
person_sex['date_of_birth'] = pd.to_datetime(person_sex['date_of_birth'])
print(len(person_sex.index))
person_sex.head()

# clean labs

## create median absolute deviance function

In [ ]:
def mad_filter(df, threshold = 5):
    values = df['value_as_number'].dropna()
    
    # Compute median and MAD
    median = values.median()
    mad = np.median(np.abs(values - median))
    
    # Define limits
    lower_limit = median - threshold * mad
    upper_limit = median + threshold * mad

    # Filter and add top/bottom limits
    filtered_df = df[(df['value_as_number'] >= lower_limit) & (df['value_as_number'] <= upper_limit)].copy()

    return filtered_df

## subset measurement df

In [ ]:
measurement_sub = measurement[['person_id', 'standard_concept_name', 'measurement_datetime', 'value_as_number']]
measurement_sub.head()

## convert datetime column to datetime type

In [ ]:
measurement_sub['measurement_datetime'] = pd.to_datetime(measurement_sub['measurement_datetime'])
measurement_sub.head()

## albumin

### filter by name

In [ ]:
alb = measurement[measurement['standard_concept_name'].str.contains('Albumin', case = False)]
alb['standard_concept_name'].unique()

In [ ]:
alb = alb[alb['standard_concept_name'].str.contains('Urine', case = False)]
alb['standard_concept_name'].unique()

#### acr

In [ ]:
acr_alb = alb[alb['standard_concept_name'].str.contains('Creatinine', case = False)]
acr_alb['standard_concept_name'].unique()

In [ ]:
print(acr_alb['value_as_number'].describe().apply(lambda x: f'{x:,.2f}'))
print(acr_alb[acr_alb['standard_concept_name'].isin(['Albumin/Creatinine [Presence] in Urine by Test strip'])]['value_as_number'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(acr_alb[acr_alb['standard_concept_name'].isin(['Albumin/Creatinine [Presence] in Urine by Test strip'])]['person_id'].unique()))

In [ ]:
acr_alb = acr_alb[~acr_alb['standard_concept_name'].str.contains('Presence')]
acr_alb['standard_concept_name'].unique()

#### raw alb

In [ ]:
alb_raw = alb[~alb['standard_concept_name'].isin(acr_alb['standard_concept_name'])]
alb_raw['standard_concept_name'].unique()

In [ ]:
alb_raw = alb_raw[~alb_raw['standard_concept_name'].str.contains('Globulin|time|total|hour|duration|creatinine', case = False)]
alb_raw['standard_concept_name'].unique()

In [ ]:
alb_raw['standard_concept_name'].value_counts(dropna = False)

In [ ]:
print(len(alb_raw[alb_raw['standard_concept_name'].str.contains('Mass/volume')]['person_id'].unique()))
alb_raw[alb_raw['standard_concept_name'].str.contains('Mass/volume')]['value_as_number'].describe().apply(lambda x: f'{x:,.2f}')

In [ ]:
print(len(alb_raw['person_id'].unique()))
alb_raw['value_as_number'].describe().apply(lambda x: f'{x:,.2f}')

In [ ]:
print(len(acr_alb['person_id'].unique()))

In [ ]:
print(len(alb_raw['person_id'].unique()))

### clean units

#### acr

In [ ]:
acr_alb['unit_concept_name'].value_counts(dropna = False)

In [ ]:
acr_alb_unit = acr_alb[~acr_alb['unit_concept_name'].str.contains('no|percent|second|times|day|ratio|liter|dL', case = False, na = True)]
print(len(acr_alb_unit['person_id'].unique()))
print(len(acr_alb['person_id'].unique()))
acr_alb_unit['unit_concept_name'].value_counts(dropna = False)

In [ ]:
acr_alb_unit.groupby('unit_concept_name')['value_as_number'].describe().applymap(lambda x: f'{x:,.2f}')

In [ ]:
acr_alb_mg_g = acr_alb_unit[acr_alb_unit['unit_concept_name'].isin(['mcg/mg',
                                                                    'mg/g',
                                                                    'microgram per milligram of creatinine',
                                                                   'milligram per gram',
                                                                   'milligram per gram of creatinine'])]
print(acr_alb_mg_g['unit_concept_name'].unique())
acr_alb_mg_g['value_as_number'] = acr_alb_mg_g['value_as_number']
acr_alb_mg_g.groupby('unit_concept_name')['value_as_number'].describe().applymap(lambda x: f'{x:,.2f}')

In [ ]:
acr_alb_mg_mg = acr_alb_unit[acr_alb_unit['unit_concept_name'].isin(['milligram per milligram','milligram per milligram of creatinine'])]
print(acr_alb_mg_mg['unit_concept_name'].unique())
acr_alb_mg_mg['value_as_number'] = acr_alb_mg_mg['value_as_number']*1000
acr_alb_mg_mg.groupby('unit_concept_name')['value_as_number'].describe().applymap(lambda x: f'{x:,.2f}')

In [ ]:
acr_alb_mg_mg_clean = acr_alb_mg_mg[acr_alb_mg_mg['unit_concept_name'].isin(['milligram per milligram'])]
print(acr_alb_mg_mg_clean['unit_concept_name'].unique())

In [ ]:
acr_alb_mg_mmol = acr_alb_unit[acr_alb_unit['unit_concept_name'].isin(['milligram per millimole'])]
print(acr_alb_mg_mmol['unit_concept_name'].unique())
acr_alb_mg_mmol['value_as_number'] = acr_alb_mg_mmol['value_as_number']*8.84
acr_alb_mg_mmol.groupby('unit_concept_name')['value_as_number'].describe().applymap(lambda x: f'{x:,.2f}')

In [ ]:
acr_alb_mcg_mmol = acr_alb_unit[acr_alb_unit['unit_concept_name'].isin(['microgram per millimole of creatinine'])]
print(acr_alb_mcg_mmol['unit_concept_name'].unique())
acr_alb_mcg_mmol['value_as_number'] = acr_alb_mcg_mmol['value_as_number']/113.12
acr_alb_mcg_mmol.groupby('unit_concept_name')['value_as_number'].describe().applymap(lambda x: f'{x:,.2f}')

In [ ]:
acr_alb_mcg_g = acr_alb_unit[acr_alb_unit['unit_concept_name'].isin(['microgram per gram'])]
print(acr_alb_mcg_g['unit_concept_name'].unique())
acr_alb_mcg_g['value_as_number'] = acr_alb_mcg_g['value_as_number']/1000
acr_alb_mcg_g.groupby('unit_concept_name')['value_as_number'].describe().applymap(lambda x: f'{x:,.2f}')

In [ ]:
acr_alb_clean_unit = pd.concat([acr_alb_mg_g, acr_alb_mg_mg_clean], axis = 0)
print(len(acr_alb_unit['person_id'].unique()))
print(len(acr_alb_clean_unit['person_id'].unique()))

#### raw alb

In [ ]:
alb_raw['unit_concept_name'].value_counts(dropna = False)

In [ ]:
alb_raw_unit = alb_raw[~alb_raw['unit_concept_name'].str.contains('No|percent|dimer|creatinine|minute', case = False, na = True)]
print(len(alb_raw_unit['person_id'].unique()))
print(len(alb_raw['person_id'].unique()))
alb_raw_unit['unit_concept_name'].value_counts(dropna = False)

In [ ]:
print(len(alb_raw_unit['person_id'].unique()))
alb_raw_unit = alb_raw_unit[~alb_raw_unit['unit_concept_name'].isin(['milligram per gram', 'microgram per milligram', 'million per microliter'])]
print(len(alb_raw_unit['person_id'].unique()))
alb_raw_unit['unit_concept_name'].value_counts(dropna = False)

In [ ]:
alb_raw_unit.groupby('unit_concept_name')['value_as_number'].describe().applymap(lambda x: f'{x:,.2f}')

In [ ]:
alb_raw_g_dL = alb_raw_unit[alb_raw_unit['unit_concept_name'].isin(['gram per deciliter','g/dL'])]
print(alb_raw_g_dL['unit_concept_name'].unique())
alb_raw_g_dL['value_as_number'] = alb_raw_g_dL['value_as_number']*1000
alb_raw_g_dL['value_as_number'].describe().map(lambda x: f'{x:,.2f}')

In [ ]:
alb_raw_mg_L = alb_raw_unit[alb_raw_unit['unit_concept_name'].isin(['milligram per liter','mg/L'])]
print(alb_raw_mg_L['unit_concept_name'].unique())
alb_raw_mg_L['value_as_number'] = alb_raw_mg_L['value_as_number']/10
alb_raw_mg_L['value_as_number'].describe().map(lambda x: f'{x:,.2f}')

In [ ]:
alb_raw_ug_mL = alb_raw_unit[alb_raw_unit['unit_concept_name'].isin(['microgram per milliliter'])]
print(alb_raw_ug_mL['unit_concept_name'].unique())
alb_raw_ug_mL['value_as_number'] = alb_raw_ug_mL['value_as_number']*0.1
alb_raw_ug_mL['value_as_number'].describe().map(lambda x: f'{x:,.2f}')

In [ ]:
alb_raw_ug_dL = alb_raw_unit[alb_raw_unit['unit_concept_name'].isin(['milligram per deciliter'])]
print(alb_raw_ug_dL['unit_concept_name'].unique())
alb_raw_ug_dL['value_as_number'] = alb_raw_ug_dL['value_as_number']/1000
alb_raw_ug_dL['value_as_number'].describe().map(lambda x: f'{x:,.2f}')

In [ ]:
alb_raw_mg_mL = alb_raw_unit[alb_raw_unit['unit_concept_name'].isin(['milligram per milliliter'])]
print(alb_raw_mg_mL['unit_concept_name'].unique())
alb_raw_mg_mL['value_as_number'] = alb_raw_mg_mL['value_as_number']*100
alb_raw_mg_mL['value_as_number'].describe().map(lambda x: f'{x:,.2f}')

In [ ]:
alb_raw_mg_dL = alb_raw_unit[alb_raw_unit['unit_concept_name'].isin(['milligram per deciliter', 'mg/dL'])]
print(alb_raw_mg_dL['unit_concept_name'].unique())
alb_raw_mg_dL['value_as_number'].describe().map(lambda x: f'{x:,.2f}')

In [ ]:
alb_raw_clean_unit = pd.concat([alb_raw_mg_dL, alb_raw_mg_L, alb_raw_ug_mL], axis = 0)
print(len(alb_raw_clean_unit['person_id'].unique()))
alb_raw_clean_unit['value_as_number'].describe().map(lambda x: f'{x:,.2f}')

### apply MAD filter

In [ ]:
print(len(acr_alb_clean_unit['person_id'].unique()))
acr_alb['value_as_number'].describe().apply(lambda x: f'{x:,.2f}')

In [ ]:
acr_alb_normal = mad_filter(acr_alb_clean_unit)
print(len(acr_alb_normal['person_id'].unique()))
print(acr_alb_normal['value_as_number'].describe().apply(lambda x: f'{x:,.2f}'))

In [ ]:
print(len(alb_raw_clean_unit['person_id'].unique()))
alb_raw_clean_unit['value_as_number'].describe().apply(lambda x: f'{x:,.2f}')

In [ ]:
alb_raw_normal = mad_filter(alb_raw_clean_unit)
print(len(alb_raw_normal['person_id'].unique()))
print(alb_raw_normal['value_as_number'].describe().apply(lambda x: f'{x:,.2f}'))

### subset and rename

In [ ]:
acr_alb_normal.drop(columns = ['standard_concept_name', 'standard_vocabulary', 'unit_concept_name', 'unit_source_value'], inplace = True)
acr_alb_normal.rename(columns = {'value_as_number' : 'uACR'}, inplace = True)
acr_alb_normal.head()

In [ ]:
alb_raw_normal.drop(columns = ['standard_concept_name', 'standard_vocabulary', 'unit_concept_name', 'unit_source_value'], inplace = True)
alb_raw_normal.rename(columns = {'value_as_number' : 'uALB'}, inplace = True)
alb_raw_normal.head()

### take mean per person

In [ ]:
acr_alb_mean = acr_alb_normal.groupby('person_id')[['measurement_datetime','uACR']].mean().reset_index()
print(acr_alb_mean['uACR'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(acr_alb_mean.index))
acr_alb_mean.head()

In [ ]:
alb_raw_mean = alb_raw_normal.groupby('person_id')[['measurement_datetime','uALB']].mean().reset_index()
print(alb_raw_mean['uALB'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(alb_raw_mean.index))
alb_raw_mean.head()

### merge w demo df

In [ ]:
acr_alb_demo = acr_alb_mean.merge(person_sex, on = 'person_id', how = 'inner')
print(len(acr_alb_mean.index))
print(len(acr_alb_demo.index))

### calculate age

In [ ]:
acr_alb_demo['AGE'] = acr_alb_demo['measurement_datetime'] - acr_alb_demo['date_of_birth']
acr_alb_demo['AGE'] = acr_alb_demo['AGE'].astype(str).str.replace(r' .*', '', regex = True)
acr_alb_demo['AGE'] = acr_alb_demo['AGE'].astype(float)
acr_alb_demo['AGE'] = acr_alb_demo['AGE']/365.25
acr_alb_demo.head()

### subset and rename

In [ ]:
acr_alb_demo_sub = acr_alb_demo[['person_id', 'SEX', 'AGE', 'uACR']]
acr_alb_demo_sub.rename(columns = {'uACR' : 'ACR'}, inplace = True)
acr_alb_demo_sub.head()

## creatinine

### filter by measurement name

In [ ]:
cre = measurement[measurement['standard_concept_name'].str.contains('Creatinine', case = False)]
cre['standard_concept_name'].unique()

In [ ]:
cre_urine = cre[cre['standard_concept_name'].str.contains('Urine', case = False)]
cre_urine['standard_concept_name'].unique()

In [ ]:
cre_urine = cre_urine[~cre_urine['standard_concept_name'].str.contains('albumin|dopamine|calcium|epinephrine|cortisol|protein|time|ratio|interpretation|24', case = False)]
cre_urine['standard_concept_name'].unique()

In [ ]:
cre_serum = cre[cre['standard_concept_name'].str.contains('serum', case = False)]
cre_serum['standard_concept_name'].unique()

In [ ]:
cre_serum = cre_serum[~cre_serum['standard_concept_name'].str.contains('rate|nitrogen|clearance|reduction|dialysis')]
cre_serum['standard_concept_name'].unique()

In [ ]:
print(len(cre_serum['person_id'].unique()))

In [ ]:
print(len(cre_urine['person_id'].unique()))

### check units

In [ ]:
cre_urine['unit_concept_name'].value_counts(dropna = False)

In [ ]:
cre_serum['unit_concept_name'].value_counts(dropna = False)

### clean up units

target units
- creatinine in urine = umol/L
- creatinine in serum = mg/dL

stategy
- serum: only keep milligram/deciliter bc we trust it- most of measurements anyway

#### urine

In [ ]:
cre_urine_unit = cre_urine[~cre_urine['unit_concept_name'].str.contains('no|minute|hour|arbitrary|min|percent|day|total|spec|creatinine', case = False, na = True)]
print(len(cre_urine['person_id'].unique()))
print(len(cre_urine_unit['person_id'].unique()))
cre_urine_unit['unit_concept_name'].value_counts(dropna = False)

In [ ]:
cre_urine_unit.groupby('unit_concept_name')['value_as_number'].describe().applymap(lambda x: f'{x:,.2f}')

In [ ]:
print(len(cre_urine_unit[cre_urine_unit['unit_concept_name'].isin(['milligram per deciliter'])]['person_id'].unique()))
print(len(cre_urine_unit['person_id'].unique()))

In [ ]:
print(len(cre_urine_unit['person_id'].unique()))
cre_urine_unit = cre_urine_unit[cre_urine_unit['unit_concept_name'].isin(['milligram per deciliter'])]
print(len(cre_urine_unit['person_id'].unique()))
cre_urine_unit['value_as_number'].describe().apply(lambda x: f'{x:,.2f}')

In [ ]:
cre_urine_unit['standard_concept_name'].value_counts(dropna = False)

#### serum

In [ ]:
cre_serum_unit = cre_serum[~cre_serum['unit_concept_name'].str.contains('no|minute|hours|unit|milliequivalent', case = False, na = True)]
print(len(cre_serum['person_id'].unique()))
print(len(cre_serum_unit['person_id'].unique()))
cre_serum_unit['unit_concept_name'].value_counts(dropna = False)

In [ ]:
cre_serum_unit.groupby('unit_concept_name')['value_as_number'].describe().applymap(lambda x: f'{x:,.2f}')

In [ ]:
print(len(cre_serum_unit['person_id'].unique()))
cre_serum_unit = cre_serum_unit[cre_serum_unit['unit_concept_name'].isin(['milligram per deciliter'])]
print(len(cre_serum_unit['person_id'].unique()))

### apply MAD filter

In [ ]:
print(len(cre_urine_unit['person_id'].unique()))
print(cre_urine_unit['value_as_number'].describe().apply(lambda x: f'{x:,.2f}'))

In [ ]:
cre_urine_normal = mad_filter(cre_urine_unit)
print(len(cre_urine_normal['person_id'].unique()))
print(cre_urine_normal['value_as_number'].describe().apply(lambda x: f'{x:,.2f}'))

In [ ]:
print(len(cre_serum_unit['person_id'].unique()))
print(cre_serum_unit['value_as_number'].describe().apply(lambda x: f'{x:,.2f}'))

In [ ]:
cre_serum_normal = mad_filter(cre_serum_unit)
print(len(cre_serum_normal['person_id'].unique()))
print(cre_serum_normal['value_as_number'].describe().apply(lambda x: f'{x:,.2f}'))

### subset and rename

In [ ]:
cre_urine_normal.drop(columns = ['standard_vocabulary', 'standard_concept_name', 'unit_concept_name', 'unit_source_value'], inplace = True)
cre_urine_normal.rename(columns = {'value_as_number' : 'uCRE'}, inplace = True)
cre_urine_normal.head()

In [ ]:
cre_serum_normal.drop(columns = ['standard_vocabulary', 'standard_concept_name', 'unit_concept_name', 'unit_source_value'], inplace = True)
cre_serum_normal.rename(columns = {'value_as_number' : 'sCRE'}, inplace = True)
cre_serum_normal.head()

### take mean per person

In [ ]:
cre_urine_mean = cre_urine_normal.groupby('person_id')[['measurement_datetime','uCRE']].mean().reset_index()
print(cre_urine_mean['uCRE'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(cre_urine_mean.index))
cre_urine_mean.head()

In [ ]:
cre_serum_mean = cre_serum_normal.groupby('person_id')[['measurement_datetime','sCRE']].mean().reset_index()
print(cre_serum_mean['sCRE'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(cre_serum_mean.index))
cre_serum_mean.head()

## eGFR

### filter by measurement name

In [ ]:
egfr = measurement[measurement['standard_concept_name'].str.contains('Glomerular|filtration|rate|eGFR', case = False)]
egfr['standard_concept_name'].unique()

In [ ]:
egfr = egfr[~egfr['standard_concept_name'].str.contains('gene|MDRD|Schwartz', case = False)]
egfr['standard_concept_name'].unique()

In [ ]:
egfr = egfr[egfr['standard_concept_name'].str.contains('CKD-EPI', case = False)]
egfr['standard_concept_name'].unique()

In [ ]:
print(len(egfr['person_id'].unique()))

### check units

In [ ]:
egfr['unit_concept_name'].value_counts(dropna = False)

### apply MAD filter

In [ ]:
print(len(egfr['person_id'].unique()))
print(egfr['value_as_number'].describe().apply(lambda x: f'{x:,.2f}'))

In [ ]:
egfr_normal = mad_filter(egfr)
print(len(egfr_normal['person_id'].unique()))
print(egfr_normal['value_as_number'].describe().apply(lambda x: f'{x:,.2f}'))

In [ ]:
egfr_normal['unit_concept_name'].value_counts(dropna = False)

### subset and rename

In [ ]:
egfr_normal.drop(columns = ['standard_vocabulary', 'standard_concept_name', 'unit_concept_name', 'unit_source_value'], inplace = True)
egfr_normal.rename(columns = {'value_as_number' : 'eGFR'}, inplace = True)
egfr_normal.head()

### take mean per person

In [ ]:
egfr_mean = egfr_normal.groupby('person_id')[['measurement_datetime','eGFR']].mean().reset_index()
print(egfr_mean['eGFR'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(egfr_mean.index))
egfr_mean.head()

### merge with demo

In [ ]:
egfr_demo = egfr_mean.merge(person_sex, on = 'person_id', how = 'inner')
print(len(egfr_mean.index))
print(len(egfr_demo.index))
egfr_demo.head()

### calculate age

In [ ]:
egfr_demo['AGE'] = egfr_demo['measurement_datetime'] - egfr_demo['date_of_birth']
egfr_demo['AGE'] = egfr_demo['AGE'].astype(str).str.replace(r' .*', '', regex = True)
egfr_demo['AGE'] = egfr_demo['AGE'].astype(float)
egfr_demo['AGE'] = egfr_demo['AGE']/365.25
egfr_demo.head()

### subset

In [ ]:
egfr_demo = egfr_demo[['person_id', 'SEX', 'AGE', 'eGFR']]
egfr_demo.head()

## cystatin C
- target unit = mg/L

### filter by measurement name

In [ ]:
cys_c = measurement[measurement['standard_concept_name'].str.contains('cystatin', case = False)]
cys_c['standard_concept_name'].unique()

In [ ]:
cys_c = cys_c[~cys_c['standard_concept_name'].str.contains('rate|measurement', case = False)]
cys_c['standard_concept_name'].unique()

In [ ]:
cys_c['standard_concept_name'].value_counts()

In [ ]:
print(len(cys_c['person_id'].unique()))

### clean units

In [ ]:
cys_c['unit_concept_name'].value_counts(dropna = False)

In [ ]:
cys_c.groupby('unit_concept_name')['value_as_number'].describe().applymap(lambda x: f'{x:,.2f}')

In [ ]:
cys_c_unit = cys_c[~cys_c['unit_concept_name'].str.contains('no', case = False, na = True)]
print(len(cys_c_unit['person_id'].unique()))
print(len(cys_c['person_id'].unique()))

### apply MAD filter

In [ ]:
print(len(cys_c_unit['person_id'].unique()))
print(cys_c_unit['value_as_number'].describe().apply(lambda x: f'{x:,.2f}'))

In [ ]:
cys_c_normal = mad_filter(cys_c_unit)
print(len(cys_c_normal['person_id'].unique()))
print(cys_c_normal['value_as_number'].describe().apply(lambda x: f'{x:,.2f}'))

### subset and rename

In [ ]:
cys_c_normal.drop(columns = ['standard_vocabulary', 'standard_concept_name', 'unit_concept_name', 'unit_source_value'], inplace = True)
cys_c_normal.rename(columns = {'value_as_number' : 'Cys_C'}, inplace = True)
cys_c_normal.head()

### take mean per person

In [ ]:
cys_c_mean = cys_c_normal.groupby('person_id')[['measurement_datetime','Cys_C']].mean().reset_index()
print(cys_c_mean['Cys_C'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(cys_c_mean.index))
cys_c_mean.head()

## calculate eGFR

### creatinine based

equation
- eGFRcr = 142 x min(Scr/, 1)^ x max(Scr/, 1)^-1.200 x 0.9938^Age x 1.012 [if female]
- Scr = standardized serum creatinine in mg/dL
-  = 0.7 (females) or 0.9 (males)
-  = -0.241 (female) or -0.302 (male)
- min(Scr/, 1) is the minimum of Scr/ or 1.0
- max(Scr/, 1) is the maximum of Scr/ or 1.0
- Age (years)

#### merge w demo df

In [ ]:
cre_serum_demo = cre_serum_mean.merge(person_sex, on = 'person_id', how = 'inner')
print(len(cre_serum_mean.index))
print(len(cre_serum_demo.index))
cre_serum_demo.head()

#### calculate age at mean measurement

In [ ]:
cre_serum_demo['AGE'] = cre_serum_demo['measurement_datetime'] - cre_serum_demo['date_of_birth']
cre_serum_demo['AGE'] = cre_serum_demo['AGE'].astype(str).str.replace(r' .*', '', regex = True)
cre_serum_demo['AGE'] = cre_serum_demo['AGE'].astype(float)
cre_serum_demo['AGE'] = cre_serum_demo['AGE']/365.25
cre_serum_demo.head()

#### remove zeros

In [ ]:
cre_serum_pos = cre_serum_demo[cre_serum_demo['sCRE'] > 0]
print(len(cre_serum_demo.index))
print(len(cre_serum_pos.index))

#### split into males and females

In [ ]:
cre_serum_male = cre_serum_pos[cre_serum_pos['SEX'] == 1]
print(len(cre_serum_male.index))

In [ ]:
cre_serum_female = cre_serum_pos[cre_serum_pos['SEX'] == 2]
print(len(cre_serum_female.index))

#### calculate

In [ ]:
cre_serum_male['eGFR'] = 142 * np.minimum(cre_serum_male['sCRE']/0.9, 1)**-0.302 * np.maximum(cre_serum_male['sCRE']/0.9, 1)**-1.200 * 0.9938**cre_serum_male['AGE']
print(cre_serum_male['eGFR'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(cre_serum_male[cre_serum_male['eGFR'] < 60].index))

In [ ]:
cre_serum_female['eGFR'] = 142 * np.minimum(cre_serum_female['sCRE']/0.7, 1)**-0.241 * np.maximum(cre_serum_female['sCRE']/0.7, 1)**-1.200 * 0.9938**cre_serum_female['AGE'] * 1.012
print(cre_serum_female['eGFR'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(cre_serum_female[cre_serum_female['eGFR'] < 60].index))

#### concatenate

In [ ]:
cre_serum_egfr = pd.concat([cre_serum_male, cre_serum_female], axis = 0)
print(len(cre_serum_egfr.index))
cre_serum_egfr.head()

#### subset

In [ ]:
cre_serum_egfr.drop(columns = ['measurement_datetime', 'sCRE', 'date_of_birth'], inplace = True)
cre_serum_egfr.head()

### cystatin C based

equation
- eGFR = 133 x min(Scys/0.8, 1)^-0.499 x max (Scys/0.8, 1)^-1.328 x 0.996^Age x 0.932 [if female]

#### merge w demo

In [ ]:
cys_c_demo = cys_c_mean.merge(person_sex, on = 'person_id', how = 'inner')
print(len(cys_c_mean.index))
print(len(cys_c_demo.index))
cys_c_demo.head()

#### calculate age at mean measurement

In [ ]:
cys_c_demo['AGE'] = cys_c_demo['measurement_datetime'] - cys_c_demo['date_of_birth']
cys_c_demo['AGE'] = cys_c_demo['AGE'].astype(str).str.replace(r' .*', '', regex = True)
cys_c_demo['AGE'] = cys_c_demo['AGE'].astype(float)
cys_c_demo['AGE'] = cys_c_demo['AGE']/365.25
print(min(cys_c_demo['Cys_C']))
cys_c_demo.head()

#### remove zeros

In [ ]:
cys_c_pos = cys_c_demo[cys_c_demo['Cys_C'] > 0]
print(len(cys_c_demo.index))
print(len(cys_c_pos.index))

#### split into makes and females

In [ ]:
cys_c_male = cys_c_pos[cys_c_pos['SEX'] == 1]
print(len(cys_c_male.index))

In [ ]:
cys_c_female = cys_c_pos[cys_c_pos['SEX'] == 2]
print(len(cys_c_female.index))

#### calculate

In [ ]:
cys_c_male['eGFR'] = 133 * np.minimum(cys_c_male['Cys_C']/0.8, 1)**-0.499 * np.maximum(cys_c_male['Cys_C']/0.8, 1)**-1.328 * 0.996**cys_c_male['AGE']
print(cys_c_male['eGFR'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(cys_c_male[cys_c_male['eGFR'] < 60].index))

In [ ]:
cys_c_female['eGFR'] = 133 * np.minimum(cys_c_female['Cys_C']/0.8, 1)**-0.499 * np.maximum(cys_c_female['Cys_C']/0.8, 1)**-1.328 * 0.996**cys_c_female['AGE'] * 0.932
print(cys_c_female['eGFR'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(cys_c_female[cys_c_female['eGFR'] < 60].index))

#### concatenate

In [ ]:
cys_c_egfr = pd.concat([cys_c_male, cys_c_female], axis = 0)
print(len(cys_c_egfr.index))
cys_c_egfr.head()

#### subset

In [ ]:
cys_c_egfr.drop(columns = ['measurement_datetime', 'Cys_C', 'date_of_birth'], inplace = True)
cys_c_egfr.head()

## calculate ACR

equation
- urine albumin / urine creatinine

### drop measurement columns

In [ ]:
cre_urine_mean.rename(columns = {'measurement_datetime' : 'measurement_datetime_cre'}, inplace = True)

In [ ]:
alb_raw_mean.rename(columns = {'measurement_datetime' : 'measurement_datetime_alb'}, inplace = True)

### merge

In [ ]:
alb_cre = alb_raw_mean.merge(cre_urine_mean, on = 'person_id', how = 'inner')
print(len(alb_raw_mean.index))
print(len(cre_urine_mean.index))
print(len(alb_cre.index))
alb_cre.head()

### drop zeros

In [ ]:
print(min(alb_cre['uALB']))
print(min(alb_cre['uCRE']))
print(alb_cre['uALB'].isna().sum())
print(alb_cre['uCRE'].isna().sum())

In [ ]:
alb_cre_pos = alb_cre[alb_cre['uALB'] > 0]
alb_cre_pos = alb_cre_pos[alb_cre_pos['uCRE'] > 0]
print(len(alb_cre.index))
print(len(alb_cre_pos.index))

### calculate

In [ ]:
alb_cre_pos['ACR'] = (alb_cre_pos['uALB'] / alb_cre_pos['uCRE']) * 1000
print(alb_cre_pos['ACR'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(alb_cre_pos[alb_cre_pos['ACR'] > 30].index))

### average dates

In [ ]:
alb_cre_pos['measurement_datetime'] = alb_cre_pos[['measurement_datetime_alb', 'measurement_datetime_cre']].mean(axis = 1)
alb_cre_pos.head()

### merge with demo df

In [ ]:
alb_cre_demo = alb_cre_pos.merge(person_sex, on = 'person_id', how = 'inner')
print(len(alb_cre_pos.index))
print(len(alb_cre_demo.index))
alb_cre_demo.head()

### calculate age

In [ ]:
alb_cre_demo['AGE'] = alb_cre_demo['measurement_datetime'] - alb_cre_demo['date_of_birth']
alb_cre_demo['AGE'] = alb_cre_demo['AGE'].astype(str).str.replace(r' .*', '', regex = True)
alb_cre_demo['AGE'] = alb_cre_demo['AGE'].astype(float)
alb_cre_demo['AGE'] = alb_cre_demo['AGE']/365.25
alb_cre_demo.head()

### subset

In [ ]:
alb_cre_demo_sub = alb_cre_demo[['person_id', 'SEX', 'AGE', 'ACR']]
alb_cre_demo_sub.head()

## concatenate eGFR and ACR dfs

### eGFR

#### concatenate

In [ ]:
egfr_all = pd.concat([egfr_demo, cre_serum_egfr, cys_c_egfr], axis = 0)
print(len(egfr_all.index))
print(len(egfr_all['person_id'].unique()))
egfr_all.head()

In [ ]:
egfr_all[egfr_all['person_id'] == 1000004]

#### take means

In [ ]:
egfr_all_mean = egfr_all.groupby('person_id')[['SEX', 'AGE', 'eGFR']].mean().reset_index()
print(egfr_all_mean['eGFR'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(egfr_all_mean.index))
print(len(egfr_all_mean['person_id'].unique()))
egfr_all_mean.head()

### ACR

#### concatenate

In [ ]:
acr_all = pd.concat([acr_alb_demo_sub, alb_cre_demo_sub], axis = 0)
print(len(acr_all.index))
print(len(acr_all['person_id'].unique()))

#### take mean

In [ ]:
acr_all_mean = acr_all.groupby('person_id')[['SEX', 'AGE', 'ACR']].mean().reset_index()
print(acr_all_mean['ACR'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(acr_all_mean.index))
print(len(acr_all_mean['person_id'].unique()))
acr_all_mean.head()

## filter eGFR and ACR to CKD thresholds

### eGFR

In [ ]:
egfr_ckd = egfr_all_mean[egfr_all_mean['eGFR'] < 60]
print(len(egfr_all_mean.index))
print(len(egfr_ckd.index))
print(egfr_ckd['eGFR'].describe().apply(lambda x: f'{x:,.2f}'))

In [ ]:
egfr_ckd_sub = egfr_ckd[egfr_ckd['eGFR'] > 0]
print(egfr_ckd_sub['eGFR'].describe().apply(lambda x: f'{x:,.2f}'))
print(len(egfr_ckd_sub.index))
egfr_ckd_sub.drop(columns = ['eGFR'], inplace = True)
egfr_ckd_sub.rename(columns = {'AGE' : 'AGE_eGFR'}, inplace = True)
egfr_ckd_sub.head()

### ACR

In [ ]:
acr_ckd = acr_all_mean[acr_all_mean['ACR'] >= 30]
print(len(acr_all_mean.index))
print(len(acr_ckd.index))
print(acr_ckd['ACR'].describe().apply(lambda x: f'{x:,.2f}'))

In [ ]:
acr_ckd_sub = acr_ckd.drop(columns = ['ACR'])
acr_ckd_sub.rename(columns = {'AGE' : 'AGE_ACR'}, inplace = True)
acr_ckd_sub.head()

# clean condition, observation and procedure dfs

## clean condition df

### merge w demo

In [ ]:
condition_demo = condition.merge(person_sex, on = 'person_id', how = 'inner')
print(len(condition['person_id'].unique()))
print(len(condition_demo['person_id'].unique()))

### calculate age

In [ ]:
condition_demo['AGE'] = condition_demo['condition_start_datetime'] - condition_demo['date_of_birth']
condition_demo['AGE'] = condition_demo['AGE'].astype(str).str.replace(r' .*', '', regex = True)
condition_demo['AGE'] = condition_demo['AGE'].astype(float)
condition_demo['AGE'] = condition_demo['AGE']/365.25
condition_demo.head()

### subset and rename

In [ ]:
condition_demo_sub = condition_demo[['person_id','SEX','AGE','condition_source_value']]
condition_demo_sub.rename(columns = {'condition_source_value' : 'code'}, inplace = True)
condition_demo_sub.head()

## clean observation df

### merge with demo

In [ ]:
observation_demo = observation.merge(person_sex, on = 'person_id', how = 'inner')
print(len(observation['person_id'].unique()))
print(len(observation_demo['person_id'].unique()))

### calculate age

In [ ]:
observation_demo['AGE'] = observation_demo['observation_datetime'] - observation_demo['date_of_birth']
observation_demo['AGE'] = observation_demo['AGE'].astype(str).str.replace(r' .*', '', regex = True)
observation_demo['AGE'] = observation_demo['AGE'].astype(float)
observation_demo['AGE'] = observation_demo['AGE']/365.25
observation_demo.head()

### subset and rename

In [ ]:
observation_demo_sub = observation_demo[['person_id', 'SEX', 'AGE', 'observation_source_value']]
observation_demo_sub.rename(columns = {'observation_source_value' : 'code'}, inplace = True)
observation_demo_sub.head()

## clean procedure df

### merge with demo

In [ ]:
procedure_demo = procedure.merge(person_sex, on = 'person_id', how = 'inner')
print(len(procedure['person_id'].unique()))
print(len(procedure_demo['person_id'].unique()))

### calculate age

In [ ]:
procedure_demo['AGE'] = procedure_demo['procedure_datetime'] - procedure_demo['date_of_birth']
procedure_demo['AGE'] = procedure_demo['AGE'].astype(str).str.replace(r' .*', '', regex = True)
procedure_demo['AGE'] = procedure_demo['AGE'].astype(float)
procedure_demo['AGE'] = procedure_demo['AGE']/365.25
procedure_demo.head()

### subset and rename

In [ ]:
procedure_demo_sub = procedure_demo[['person_id', 'SEX', 'AGE', 'procedure_source_value']]
procedure_demo_sub.rename(columns = {'procedure_source_value' : 'code'}, inplace = True)
procedure_demo_sub.head()

## concatenate

In [ ]:
all_code = pd.concat([condition_demo_sub, observation_demo_sub, procedure_demo_sub], axis = 0)
print(len(all_code.index))
print(len(all_code['person_id'].unique()))

## remove individuals with only acute kidney failure

### filter to those codes and individuals

In [ ]:
akf_codes = all_code[all_code['code'].str.contains('584.5|584.9|N17')]
print(len(akf_codes.index))
print(len(akf_codes['person_id'].unique()))
akf_codes['code'].unique()

In [ ]:
akf_indiv = all_code[all_code['person_id'].isin(akf_codes['person_id'])]
print(len(akf_indiv.index))
print(len(akf_indiv['person_id'].unique()))

### make indiv and code lists

In [ ]:
id_list = akf_indiv['person_id'].unique()

In [ ]:
akf_code_list = akf_codes['code'].unique()

### for loop

In [ ]:
not_only_akf = []
for id in id_list:
    df = akf_indiv[akf_indiv['person_id'].isin([id])]
    code = df[~df['code'].isin(akf_code_list)]
    if len(code.index) > 0:
        not_only_akf.append(id)

### filter df

In [ ]:
print(len(not_only_akf))

In [ ]:
akf_indiv_filt = akf_indiv[akf_indiv['person_id'].isin(not_only_akf)]
print(len(akf_indiv_filt.index))
print(len(akf_indiv_filt['person_id'].unique()))

### filter to individuals without these codes

In [ ]:
no_akf_indiv = all_code[~all_code['person_id'].isin(akf_codes['person_id'])]
print(len(no_akf_indiv.index))
print(len(no_akf_indiv['person_id'].unique()))

### concatenate

In [ ]:
condition_akf_clean = pd.concat([no_akf_indiv, akf_indiv_filt], axis = 0)
print(len(condition_akf_clean.index))
print(len(condition_akf_clean['person_id'].unique()))

## remove individuals with kidney transplants

In [ ]:
condition_exclude['condition_source_value'].unique()

In [ ]:
observation_exclude['observation_source_value'].unique()

### subset

In [ ]:
condition_exclude_id = condition_exclude[['person_id']]
observation_exclude_id = observation_exclude[['person_id']]
procedure_exclude_id = procedure_exclude[['person_id']]

### merge

In [ ]:
all_exclude_id = pd.concat([condition_exclude_id, observation_exclude_id, procedure_exclude_id], axis = 0)
print(len(all_exclude_id.index))
print(len(all_exclude_id['person_id'].unique()))

### drop duplicates

In [ ]:
all_exclude_id.drop_duplicates(inplace = True)
print(len(all_exclude_id.index))
print(len(all_exclude_id['person_id'].unique()))

### remove individuals

In [ ]:
condition_no_transplant = condition_akf_clean[~condition_akf_clean['person_id'].isin(all_exclude_id['person_id'])]
print(len(condition_akf_clean['person_id'].unique()))
print(len(condition_no_transplant['person_id'].unique()))

## apply rule of 2

### make id list

In [ ]:
id_list = condition_no_transplant['person_id'].unique().tolist()
len(id_list)

### for loop

In [ ]:
two_instances=[]
for id in id_list:
    id_df = condition_no_transplant[condition_no_transplant['person_id'].isin([id])]
    id_df.drop_duplicates(inplace = True)
    id_df.reset_index(inplace = True, drop = True)
    if len(id_df.index) >= 2:
        two_instances.append(id)

### filter df

In [ ]:
print(len(two_instances))

In [ ]:
condition_two = condition_no_transplant[condition_no_transplant['person_id'].isin(two_instances)]
print(len(condition_two['person_id'].unique()))

## filter to first occurance

In [ ]:
condition_two['AGE'] = condition_two['AGE'].astype(float)
condition_two.sort_values(by = ['person_id', 'AGE'], ascending = True, inplace = True)
condition_two.drop_duplicates(subset = 'person_id', keep = 'first', inplace = True)
print(len(condition_two.index))
condition_two.head()

## subset and rename (again!)

In [ ]:
condition_for_merge = condition_two.drop(columns = ['code'])
condition_for_merge.rename(columns = {'AGE' : 'AGE_code'}, inplace = True)
condition_for_merge.head()

# create case df

# not using acr + eGFR as an exclusion critera

## merge code and eGFR

In [ ]:
case_egfr = condition_for_merge.merge(egfr_ckd_sub, on = ['person_id', 'SEX'], how = 'inner')
print(len(condition_for_merge.index))
print(len(egfr_ckd_sub.index))
print(len(case_egfr.index))

## merge code + egfr with ACR

In [ ]:
case_egfr_acr = case_egfr.merge(acr_ckd_sub, on = ['person_id', 'SEX'], how = 'inner')
print(len(case_egfr.index))
print(len(egfr_ckd_sub.index))
print(len(case_egfr_acr.index))

## merge code and acr

In [ ]:
case_acr = condition_for_merge.merge(acr_ckd_sub, on = ['person_id', 'SEX'], how = 'inner')
case_acr.drop(columns = ['AGE_code'], inplace = True)
print(len(condition_for_merge.index))
print(len(acr_ckd_sub.index))
print(len(case_acr.index))

## merge code + eGFR with code + ACR

In [ ]:
case_final = case_egfr.merge(case_acr, on = ['person_id', 'SEX'], how = 'outer')
print(len(case_final.index))
print(len(case_final.dropna().index))
case_final.head()

## calculate earliest age

In [ ]:
case_final['AGE'] = case_final[['AGE_code', 'AGE_eGFR', 'AGE_ACR']].min(axis = 1, skipna = True)
case_final.head()

## add CKD column and subset

In [ ]:
case_final = case_final[['person_id', 'SEX', 'AGE']]
case_final['CKD'] = 1
case_final.head()

# create controls df

remove individuals in:
* condition df
* observation df
* procedure df
* condition exclude df
* observation exclude df
* eGFR CKD df
* ACR CKD df

keep individuals in:
* eGFR clean df
* ACR clean df

## apply filters

In [ ]:
control = person_sex[~person_sex['person_id'].isin(condition['person_id'])]
print(len(person_sex.index))
print(len(control.index))

In [ ]:
print(len(control.index))
control = control[~control['person_id'].isin(observation['person_id'])]
print(len(control.index))

In [ ]:
print(len(control.index))
control = control[~control['person_id'].isin(procedure['person_id'])]
print(len(control.index))

In [ ]:
print(len(control.index))
control = control[~control['person_id'].isin(all_exclude_id['person_id'])]
print(len(control.index))

In [ ]:
print(len(control.index))
control = control[control['person_id'].isin(pd.concat([egfr_all_mean['person_id'], acr_all_mean['person_id']]))]
print(len(control.index))

In [ ]:
print(len(control.index))
control = control[~control['person_id'].isin(pd.concat([egfr_ckd['person_id'], acr_ckd['person_id']]))]
print(len(control.index))

## calculate age

In [ ]:
control['AGE'] = (datetime(2023, 10, 1, 0, 0, 0)).replace(tzinfo = ZoneInfo("UTC")) - control['date_of_birth']
control['AGE'] = control['AGE'].astype(str).str.replace(' days','')
control['AGE'] = control['AGE'].astype(float)
control['AGE'] = control['AGE']/365.25
control.head()

## add CKD column

In [ ]:
control['CKD'] = 0

## drop DOB column

In [ ]:
control.drop(columns = ['date_of_birth'], inplace = True)

# merge case and control dfs

In [ ]:
case_control = pd.concat([case_final, control], axis = 0)
print(len(case_control.index))
print(case_control['CKD'].value_counts(dropna = False))
case_control.head()

In [ ]:
ckd_case_control_sample = case_control[['person_id']]
print(len(ckd_case_control_sample.index))
ckd_case_control_sample.head()

# export dataframes

## pheno covar

In [ ]:
case_control.to_csv('AOU_v8.CKD_PGS.YK_phenotyping.phenotype_covariates.txt',
                    sep = '\t',
                    index = None)

In [ ]:
!gsutil cp AOU_v8.CKD_PGS.YK_phenotyping.phenotype_covariates.txt ${WORKSPACE_BUCKET}/CKD/pheno/

## sample list

In [ ]:
ckd_case_control_sample.to_csv('AOU_v8.CKD_PGS.YK_phenotyping.sample_list.txt',
                               sep = '\t',
                               index = None,
                               header = None)

In [ ]:
!gsutil cp AOU_v8.CKD_PGS.YK_phenotyping.sample_list.txt ${WORKSPACE_BUCKET}/CKD/input/

# add HT and T2D as covariates

T2D phenotype
- Case: At least two ICD 9/10 codes
- Control: Zero ICD codes


HT phenotype
- Case: at least two ICD 9/10 codes OR mean systolic BP >= 140 OR mean diastolic BP >= 90 OR prescribed HT medication
- Control: zero ICD codes, mean systolic BP < 140, mean diastolic BP < 90, and no prescribed HT medication

## read in phenotype file

In [ ]:
case_control = pd.read_csv('AOU_v8.CKD_PGS.YK_phenotyping.phenotype_covariates.txt', sep = '\t')
print(len(case_control.index))
case_control.head()

In [ ]:
case_control = case_control.drop(columns = ['HT_YK'])
case_control.head()

## filter ICD codes

In [ ]:
t2d = condition[condition['condition_source_value'].str.contains('250|E11|O24')]
print(len(t2d['person_id'].unique()))
t2d['condition_source_value'].unique()

In [ ]:
ht_yk = condition[condition['condition_source_value'].str.contains('I10|I11|I12|I13|I15')]
print(len(ht_yk['person_id'].unique()))
ht_yk['condition_source_value'].unique()

## apply rule of 2

### make id lists

In [ ]:
t2d_id_list = t2d['person_id'].unique()

In [ ]:
ht_yk_id_list = ht_yk['person_id'].unique()

### for loop

In [ ]:
t2d_two_instances = []
for id in t2d_id_list:
    id_df = t2d[t2d['person_id'].isin([id])]
    id_df = id_df.drop_duplicates()
    id_df = id_df.reset_index(drop = True)
    if len(id_df.index) >= 2:
        t2d_two_instances.append(id)

In [ ]:
ht_yk_two_instances = []
for id in ht_yk_id_list:
    id_df = ht_yk[ht_yk['person_id'].isin([id])]
    id_df = id_df.drop_duplicates()
    id_df = id_df.reset_index(drop = True)
    if len(id_df.index) >= 2:
        ht_yk_two_instances.append(id)

### filter dfs

In [ ]:
t2d_two = t2d[t2d['person_id'].isin(t2d_two_instances)]
print(len(t2d['person_id'].unique()))
print(len(t2d_two['person_id'].unique()))
print(len(t2d_two_instances))

In [ ]:
ht_yk_two = ht_yk[ht_yk['person_id'].isin(ht_yk_two_instances)]
print(len(ht_yk['person_id'].unique()))
print(len(ht_yk_two['person_id'].unique()))
print(len(ht_yk_two_instances))

## subset, drop duplicates, and create case column

In [ ]:
t2d_sub = t2d_two[['person_id']].drop_duplicates()
t2d_sub['T2D'] = 1
print(len(t2d_sub.index))

In [ ]:
ht_yk_sub = ht_yk_two[['person_id']].drop_duplicates()
ht_yk_sub['HT_YK'] = 1
print(len(ht_yk_sub.index))

## clean BP data for HT

### filter measurement df

#### systolic

In [ ]:
sys_bp = measurement[measurement['standard_concept_name'].str.contains('systolic', case = False)]
sys_bp['standard_concept_name'].unique()

In [ ]:
sys_bp = sys_bp[~sys_bp['standard_concept_name'].str.contains('artery|diastolic|anesthesia|peak|ventricular|aorta|exercise', case = False)]
sys_bp['standard_concept_name'].unique()

#### diastolic

In [ ]:
dia_bp = measurement[measurement['standard_concept_name'].str.contains('diastolic', case = False)]
dia_bp['standard_concept_name'].unique()

In [ ]:
dia_bp = dia_bp[~dia_bp['standard_concept_name'].str.contains('artery|systolic|anesthesia|exercise', case = False)]
dia_bp['standard_concept_name'].unique()

### check values

#### look at possible units

In [ ]:
sys_bp[['unit_source_value', 'unit_concept_name']].value_counts(dropna = False)

In [ ]:
dia_bp[['unit_source_value', 'unit_concept_name']].value_counts(dropna = False)

#### look at distribution

In [ ]:
sys_bp.groupby('unit_concept_name')['value_as_number'].describe().applymap(lambda x: f'{x:,.2f}')

In [ ]:
dia_bp.groupby('unit_concept_name')['value_as_number'].describe().applymap(lambda x: f'{x:,.2f}')

#### look at number of people with just mmHg

In [ ]:
print(len(sys_bp['person_id'].unique()))
print(len(sys_bp[sys_bp['unit_concept_name'] == 'millimeter mercury column']['person_id'].unique()))

In [ ]:
print(len(dia_bp['person_id'].unique()))
print(len(dia_bp[dia_bp['unit_concept_name'] == 'millimeter mercury column']['person_id'].unique()))

#### filter to measurements with mmHg unit

In [ ]:
sys_bp_unit = sys_bp[sys_bp['unit_concept_name'] == 'millimeter mercury column']

In [ ]:
dia_bp_unit = dia_bp[dia_bp['unit_concept_name'] == 'millimeter mercury column']

### remove outlier values

#### create median absolute deviance function

In [ ]:
def mad_filter(df, threshold = 5):
    values = df['value_as_number'].dropna()
    
    # Compute median and MAD
    median = values.median()
    mad = np.median(np.abs(values - median))
    
    # Define limits
    lower_limit = median - threshold * mad
    upper_limit = median + threshold * mad

    # Filter and add top/bottom limits
    filtered_df = df[(df['value_as_number'] >= lower_limit) & (df['value_as_number'] <= upper_limit)].copy()

    return filtered_df

#### investigate distibution

In [ ]:
sys_bp_unit['value_as_number'].describe().apply(lambda x: f'{x:,.2f}')

In [ ]:
dia_bp_unit['value_as_number'].describe().apply(lambda x: f'{x:,.2f}')

#### apply mad filter

In [ ]:
sys_bp_mad = mad_filter(sys_bp_unit)
sys_bp_mad['value_as_number'].describe().apply(lambda x: f'{x:,.2f}')

In [ ]:
dia_bp_mad = mad_filter(dia_bp_unit)
dia_bp_mad['value_as_number'].describe().apply(lambda x: f'{x:,.2f}')

### calculate mean

In [ ]:
sys_bp_mean = sys_bp_mad.groupby('person_id')['value_as_number'].mean().reset_index()
sys_bp_mean['value_as_number'].describe().apply(lambda x: f'{x:,.2f}')

In [ ]:
dia_bp_mean = dia_bp_mad.groupby('person_id')['value_as_number'].mean().reset_index()
dia_bp_mean['value_as_number'].describe().apply(lambda x: f'{x:,.2f}')

### make case dfs

#### sys

In [ ]:
sys_case = sys_bp_mean[sys_bp_mean['value_as_number'] >= 140]
sys_case = sys_case.drop(columns = ['value_as_number'])
sys_case['HT_YK'] = 1
print(len(sys_bp_mean.index))
print(len(sys_case.index))

#### dia

In [ ]:
dia_case = dia_bp_mean[dia_bp_mean['value_as_number'] >= 90]
dia_case = dia_case.drop(columns = ['value_as_number'])
dia_case['HT_YK'] = 1
print(len(dia_bp_mean.index))
print(len(dia_case.index))

## filter medications data

In [ ]:
len(drug['standard_concept_name'].unique().tolist())

### make df of bp medication names

In [ ]:
med_name_df = pd.DataFrame({'med_name' : ['Furosemide',
                                          'Lasix',
                                          'Bumetanide',
                                          'Bumex',
                                          'Torsemide',
                                          'Demadex',
                                          'Amiloride',
                                          'Midamor', 
                                          'Hydro-ride',
                                          'Hydrochlorothiazide',
                                          'HCTZ',
                                          'Esidrix',
                                          'Hydrodiuril',
                                          'Indapamide',
                                          'Lozol',
                                          'Triamterene',
                                          'Dyrenium',
                                          'Chlorthalidone',
                                          'Thalitone',
                                          'Spironolactone',
                                          'Aldactone',
                                          'Eplerenone',
                                          'Inspra',
                                          'Atenolol',
                                          'Tenormin',
                                          'Bisoprolol',
                                          'Zebeta',
                                          'Carvedilol',
                                          'Coreg',
                                          'Carvedilol phosphate',
                                          'Coreg CR',
                                          'Labetalol',
                                          'Trandate',
                                          'Metoprolol succinate',
                                          'Toprol XL',
                                          'Kapspargo Sprinkle',
                                          'Metoprolol tartrate',
                                          'Lopressor',
                                          'Nadolol',
                                          'Corgard',
                                          'Nebivolol',
                                          'Bystolic',
                                          'Pindolol',
                                          'Visken',
                                          'Propranolol',
                                          'Inderal',
                                          'Inderal LA',
                                          'InnoPran XL',
                                          'Captopril',
                                          'Capoten',
                                          'Enalapril',
                                          'Vasotec',
                                          'Fosinopril',
                                          'Monopril',
                                          'Lisinopril',
                                          'Prinivil',
                                          'Zestril',
                                          'Perindopril',
                                          'Aceon',
                                          'Quinapril',
                                          'Accupril',
                                          'Ramipril',
                                          'Altace',
                                          'Trandolapril',
                                          'Mavik',
                                          'Benazepril',
                                          'Lotensin',
                                          'Moexipril',
                                          'Univasc',
                                          'Candesartan',
                                          'Atacand',
                                          'Losartan',
                                          'Cozaar',
                                          'Valsartan',
                                          'Diovan',
                                          'Irbesartan',
                                          'Avapro',
                                          'Olmesartan',
                                          'Benicar',
                                          'Telmisartan',
                                          'Micardis',
                                          'Azilsartan',
                                          'Edarbi',
                                          'Amlodipine',
                                          'Norvasc',
                                          'Diltiazem',
                                          'Cardizem CD',
                                          'Cardizem SR',
                                          'Dilacor XR',
                                          'Tiazac',
                                          'Felodipine',
                                          'Plendil',
                                          'Nicardipine',
                                          'Cardene SR',
                                          'Nifedipine LA',
                                          'Adalat CC',
                                          'Procardia XL',
                                          'Verapamil',
                                          'Calan SR',
                                          'Covera HS',
                                          'Isoptin SR',
                                          'Verelan',
                                          'Doxazosin',
                                          'Cardura',
                                          'Prazosin',
                                          'Minipress',
                                          'Terazosin hydrochloride',
                                          'Hytrin',
                                          'Methyldopa',
                                          'Aldomet',
                                          'Clonidine',
                                          'Catapres',
                                          'Duraclon',
                                          'Kapvay',
                                          'Nexiclon XR',
                                          'Guanfacine',
                                          'Intuniv',
                                          'Tenex',
                                          'Hydralazine',
                                          'Apresoline',
                                          'Minoxidil',
                                          'Loniten']})
print(len(med_name_df.index))
med_name_df.head()

### filter meds to names in that df

In [ ]:
drug_ht = drug[drug['standard_concept_name'].str.contains('|'.join(med_name_df['med_name']), case = False)]
print(len(drug.index))
print(len(drug['person_id'].unique()))
print(len(drug_ht.index))
print(len(drug_ht['person_id'].unique()))

In [ ]:
print(len(drug['standard_concept_name'].unique().tolist()))
len(drug_ht['standard_concept_name'].unique().tolist())

### subset and create case column

In [ ]:
drug_ht = drug_ht[['person_id']].drop_duplicates()
drug_ht['HT_YK'] = 1
print(len(drug_ht.index))
drug_ht.head()

### concatenate HT cases

In [ ]:
ht_yk_cat = pd.concat([ht_yk_sub, sys_case, dia_case, drug_ht], axis = 0).drop_duplicates()
print(len(ht_yk_cat.index))
print(len(ht_yk_cat[ht_yk_cat['person_id'].isin(case_control['person_id'])].index))

## create controls for t2d

In [ ]:
all_people = case_control[['person_id']]

In [ ]:
t2d_control = all_people[~all_people['person_id'].isin(t2d['person_id'])]
t2d_control['T2D'] = 0
print(len(t2d_control.index))

## create controls for HT

In [ ]:
ht_yk_control = case_control[~case_control['person_id'].isin(ht_yk['person_id'])]
ht_yk_control = ht_yk_control[['person_id']]
print(len(ht_yk_control.index))
ht_yk_control = ht_yk_control[~ht_yk_control['person_id'].isin(sys_case['person_id'])]
print(len(ht_yk_control.index))
ht_yk_control = ht_yk_control[~ht_yk_control['person_id'].isin(dia_case['person_id'])]
print(len(ht_yk_control.index))
ht_yk_control = ht_yk_control[~ht_yk_control['person_id'].isin(drug_ht['person_id'])]
print(len(ht_yk_control.index))
ht_yk_control['HT_YK'] = 0

## concatenate case and control

In [ ]:
t2d_case_control = pd.concat([t2d_sub, t2d_control], axis = 0)
print(len(t2d_case_control.index))

In [ ]:
ht_yk_case_control = pd.concat([ht_yk_cat, ht_yk_control], axis = 0)
print(ht_yk_case_control['HT_YK'].value_counts(dropna = False))
ht_yk_case_control.head()

## merge with original pheno file

In [ ]:
case_control_covar = case_control.merge(
    ht_yk_case_control, on = 'person_id', how = 'left')
print(len(case_control.index))
print(len(case_control_covar.index))
case_control_covar.head()

## get value counts

In [ ]:
case_control_covar['CKD'].value_counts(dropna = False)

In [ ]:
case_control_covar['T2D'].value_counts(dropna = False)

In [ ]:
case_control_covar['HT_YK'].value_counts(dropna = False)

## check out value counts if you drop missing

In [ ]:
case_control_covar.dropna()['CKD'].value_counts(dropna = False)

## export

In [ ]:
case_control_covar.to_csv('AOU_v8.CKD_PGS.YK_phenotyping.phenotype_covariates.txt',
                          sep = '\t',
                          index = None)

In [ ]:
!gsutil -m cp AOU_v8.CKD_PGS.YK_phenotyping.phenotype_covariates.txt ${WORKSPACE_BUCKET}/CKD/pheno/